In [1]:
import pandas as pd

In [3]:
import json

In [5]:
heroes_file="purchase_data.csv"
heroes_df=pd.read_csv(heroes_file)
heroes_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [7]:
player_demographics = heroes_df.loc[:, ["Gender", "SN", "Age"]]
player_demographics.head()

  Gender             SN  Age
0   Male        Lisim78   20
1   Male    Lisovynya38   40
2   Male     Ithergue48   24
3   Male  Chamassasya86   24
4   Male      Iskosia90   23

In [8]:
player_demographics = player_demographics.drop_duplicates()
#player_demographics.head()
player_count = player_demographics.count()[0]
player_count

576

In [9]:


#Purchasing Analysis(Total)
unique_items=len(heroes_df["Item ID"].unique())
average_price=heroes_df["Price"].mean()
total_number_purchase=heroes_df["Price"].count()
total_revenue=heroes_df["Price"].sum()
summary_table=pd.DataFrame({"Number of Unique Items":[unique_items],
                           "Average Purchase Price":[average_price],
                           "Total Number of Purchases":[total_number_purchase],
                           "Total Revenue":[total_revenue]})
summary_table=summary_table[["Number of Unique Items","Average Purchase Price","Total Number of Purchases","Total Revenue"]]
summary_table=summary_table.round(2)

summary_table.head()

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,183,3.05,780,2379.77